<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcw.np.mapper.DietPlanMapper">

    <resultMap id="BaseResultMap" type="com.zcw.np.model.entity.DietPlan">
            <id property="planId" column="plan_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="planDate" column="plan_date" jdbcType="DATE"/>
            <result property="planName" column="plan_name" jdbcType="VARCHAR"/>
            <result property="breakfast" column="breakfast" jdbcType="VARCHAR"/>
            <result property="lunch" column="lunch" jdbcType="VARCHAR"/>
            <result property="dinner" column="dinner" jdbcType="VARCHAR"/>
            <result property="snacks" column="snacks" jdbcType="VARCHAR"/>
            <result property="totalCalories" column="total_calories" jdbcType="DECIMAL"/>
            <result property="totalProtein" column="total_protein" jdbcType="DECIMAL"/>
            <result property="totalCarbohydrate" column="total_carbohydrate" jdbcType="DECIMAL"/>
            <result property="totalFat" column="total_fat" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        plan_id,user_id,plan_date,
        plan_name,breakfast,lunch,
        dinner,snacks,total_calories,
        total_protein,total_carbohydrate,total_fat,
        status,create_time,update_time
    </sql>
</mapper>
